.page {
  color: bisque;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "bio bio"
    "gallery gallery"
    "form form";
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 30px;
}

/* .bio {
  grid-area: form;
} */

/* .bio-text {
  grid-area: logo;
} */

/* .gallery {
  grid-column: 1 / -1;
} */
